@import "~or-theme";

.or-btn {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  text-align: center;
  box-sizing: border-box;
  font-family: $font-family;
  cursor: pointer;

  &.or-btn-disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $white;

    &:hover {
      cursor: not-allowed;
      background-color: $disabled-color;
      border-color: $disabled-color;
    }
  }
}

.or-btn-default {
  background-color: $white;
  color: $gray8;
  border-color: $gray8;

  &:hover {
    background-color: $gray8;
    color: $white;
  }
}

.or-btn-primary {
  background-color: $primary-color;
  color: $white;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color0;
    border-color: $primary-color0;
  }
}

.or-btn-warning {
  background-color: $warning-color;
  color: $white;
  border-color: $warning-color;

  &:hover {
    background-color: $warning-color0;
    border-color: $warning-color0;
  }
}

.or-btn-size-default {
  min-width: 120px;
  padding: $btn-padding-y $btn-padding-x;
  font-size: 14px;
}

.or-btn-size-large {
  min-width: 300px;
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  font-size: 16px;
}

.or-btn-size-small {
  min-width: 100px;
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  font-size: 14px;
}
